html {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
}

body {
  background-color: #666;
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 3em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
