
.Map-Item {
  text-align: center;
  font-size: xx-small;
  padding: 0;
}

.node {
  height: 30px;
  width: 30px;
}

.node:hover {
  animation: ScaleUp .25s;
}

@keyframes ScaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}